
@{
    ViewData["Title"] = "NotFound 404";
}
<h3>Sorry Page Not Found</h3>
<img src="https://cloud.z.com/vn/wp-content/uploads/2023/04/loi-404-not-found-la-gi-9-cach-khac-phuc-loi-404-not-5-800x450-1.jpg" />