@model AppUserModel
@{
	ViewData["title"] = "Đặt lại mật khẩu";
	var email = ViewBag.Email as string;
	var token = ViewBag.Token as string;
}

<section id="">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Đặt lại mật khẩu của bạn</h2>
					@if (TempData["error"] != null)
					{
						<div class="alert alert-danger">@TempData["error"]</div>
					}
					<div asp-validation-summary="ModelOnly" class="text-danger"> </div>
					<form asp-action="UpdateNewPassword" asp-controller="Account">
						<input type="hidden" name="email" value="@email" />
						<input type="hidden" name="token" value="@token" />
						<div class="form-group">
							<label>Email</label>
							<input asp-for="Email" class="form-control" />
							<span asp-validation-for="Email" class="text-danger" />
						</div>
						<div class="form-group">
							<label>Mật khẩu mới</label>
							<input type="password" name="password" class="form-control" required minlength="6" />
						</div>
						<div class="form-group">
							<label>Nhập lại mật khẩu</label>
							<input type="password" name="confirmPassword" class="form-control" required />
						</div>
						<button type="submit" class="btn btn-success w-100">Cập nhật</button>
						<br />
						<a asp-action="Create" asp-controller="Account">Tạo tài khoản</a>
						<br />
						<div class="text-center mt-3">
							<a asp-action="Login" asp-controller="Account">Quay lại đăng nhập</a>
						</div>
					</form>
				</div><!--/login form-->
			</div>
		</div>
	</div>
</section><!--/form-->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}